@import url("https://fonts.googleapis.com/css?family=Work+Sans:regular,500,600&display=swap");

:root { 
    --bg-color: #121B25;
    --accent-color: #1AA090;
    --text-color: #d6d6d6;
}

body {
    font-family: "Work Sans", sans-serif;
}
[class*="__container"] {
    max-width: 1420px;
    margin: 0px auto;
    padding: 0 15px;
}